nav{
    text-align: right;
    background-color: aliceblue;
}
nav li{
display:inline-block;
margin-right: 30px;
padding-bottom: 30px;
padding-top: 30px;
}
nav a:hover{
    color:red;
}

body{
    
    text-align: center;
    font-weight: 800;                   
    font-size: x-large;
    font-style: normal;
    background-color: rgb(138, 127, 127);
}


 body .me ul{
    list-style: none;
}

h2, h3, h4, h5{
 color:rgb(224, 210, 210);
 font-style: italic;
 font-size: 35px;
}
.software,.page,.first,.soft{
    color: blue;
}