nav{
    text-align: right;
    background-color: aliceblue;
}
nav li{
display:inline-block;
margin-left: 30px;
padding-bottom: 30px;
padding-top: 30px;
}
nav a:hover{
    color:red;
}
.fa{
    padding: 20px;
    font-size:30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-right: 40px;

}

.fa:hover{
    opacity:0.7;
}
.fa-facebook{
    background: #55ACEE;
    color:white;
    border-radius: 50px;
}
.fa-twitter{
    background: #55ACEE;
    color:white;
    border-radius: 50px;
    
}
.fa-skype{
    background: #55ACEE;
    color:white;
    border-radius: 50px;
}
body{
    font-weight: 800;                   
    font-size: x-large;
    font-style: normal;
    background-image: url(/home/jediel/Desktop/Final-website/image/simu.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkgray;
    text-align: center;

}
h2{
    color: red;

}
