nav{
    text-align: right;
    background-color: aliceblue;
}
nav li{
display:inline-block;
margin-left: 30px;
padding-bottom: 30px;
padding-top: 30px;
}
nav a:hover{
    color:red;
}
.fa{
    padding: 20px;
    font-size:30px;
    width: 50px;
    text-align: center;
    text-decoration: none;

}

.fa:hover{
    opacity:0.7;
}
.fa-facebook{
    background: #55ACEE;
    color:white;
    border-radius: 15px;
}
.fa-twitter{
    background: #55ACEE;
    color:white;
    border-radius: 15px;
}
body{
    text-align: center;
    font-weight: 800;                   
    font-size: x-large;
    font-style: normal;
    background-color: darkgray;

}
h2{
    color: red;
}
