 nav{
    text-align: right;
    background-color: aliceblue;
    font-weight: 800;                   
    font-size: x-large;
    font-style: normal;
}
nav li{
display:inline-block;
margin-left: 30px;
padding-bottom: 30px;
padding-top: 30px;
padding-right: 40px;
}
nav a:hover{
    color:red;
}
h1{
    text-align:center;
    font-weight: 900;
    font-size: xx-large;
    font-style: italic;
    color: red;
}
#bio{
    text-align: center;
        font-weight: 800;
        font-size: xx-large;
        font-style: normal;
          
    
}
body{
    background-color: darkgray;
    background-image: url(/home/jediel/Desktop/Final-website/image/lap.jpg);
    background-repeat: no-repeat;

}

#img{

    float: left;
} 
.born{
    color: blue;
}