 nav{
    text-align: right;
    background-color: aliceblue;
    font-weight: 800;                   
    font-size: x-large;
    font-style: normal;
}
nav li{
display:inline-block;
margin-left: 30px;
padding-bottom: 30px;
padding-top: 30px;
padding-right: 40px;
}
nav a:hover{
    color:red;
}
h1{
    text-align:center;
    font-weight: 900;
    font-size: xx-large;
    font-style: italic;
    color:black;
}
#bio{
    text-align: center;
        font-weight: 800;
        font-size: xx-large;
        font-style: italic;
          
    
}
body{
    background-color: darkgray;
    background-image: url(/home/jediel/Desktop/Final-website/image/lap.jpg);
    background-repeat: no-repeat;

}

#img{
    height:400px;
    width:500px;
    border-radius:600px;
    margin-left:400px;
    /* float: left; */

} 
.born{
    color: blue;
}
.responsive{
    width:100%;
    height:auto;
}