
 nav{
    text-align: right;
    background-color: aliceblue;
}
nav li{
display:inline-block;
margin-left: 30px;
padding-bottom: 30px;
padding-top: 30px;
padding-right: 40px;
}
nav a:hover{
    color:red;
}

h2{
    color:rgb(224, 210, 210);
}
h3{
    color:rgb(224, 210, 210);
    font-style: italic;
}
body{
    text-align: center;
    font-weight: 700;                   
    font-size: x-large;
    font-style: normal;
    
    background-color: rgb(138, 127, 127);
}
.proj1{
    float: left;
    width:700px
}
